<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SnowTricks{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
    {% block stylesheet %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/trick.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% endblock %}
</head>

<body class="body" id="page-top">

    <section>
        <nav id="mainNav" class="navbar navbar-default navbar-custom container normal">
            <div>
                <div>
                    <ul class="nav navbar-nav navbar-left indie">
                        <li class="page-scroll">
                            <h1 class="logo">SnowTricks</h1>
                        </li>
                    </ul>
                </div>
                <div class="merribold">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll">
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#tricks">Tricks</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        <li class="page-scroll">
                            <a href="{{ path('newTrick') }}">New Trick</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{{ path('logout') }}">Logout</a>
                        </li>
                        {% else %}
                        <li class="page-scroll">
                            <a href="{{ path('login') }}">Sign in</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{{ path('register') }}">Sign up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    {% for message in app.flashes('success') %}
    <div class="flash-notice alert alert-success">
      {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
    <div class="flash-notice alert alert-danger">
      {{ message }}
    </div>
    {% endfor %}

    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}

<footer>
    <section class="footer">
        <div class="footer-bar container desktop">
            <p class="merribold copy normal">Copyright @2018</p>
        </div>
        <div class="container mobile footer-bar">
            <div class="row">
                <ul class>
                    <li class="col-xs-4 align-center nodec">
                        <a href="{{ path('homepage') }}"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="col-xs-4 align-center nodec">
                        <a href="" id="bookmark-this"><i class="fas fa-bookmark"></i></a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                    <li class="col-xs-4 align-center nodec">
                        <a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    {% else %}
                    <li class="col-xs-4 align-center nodec">
                        <a href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</footer>
</body>

    {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/bookmark.js') }}"></script>
    <script src="{{ asset('js/mediaMobile.js')}}"></script>
    <script src="{{ asset('js/editButtonVideo.js')}}"></script>
    <script src="{{ asset('js/deleteButtonVideo.js')}}"></script>
    <script src="{{ asset('js/editButtonImage.js')}}"></script>
    <script src="{{ asset('js/deleteButtonImage.js')}}"></script>
    {% endblock %}

</html>
