{# src/p6/CoreBundle/Resources/views/Advert/trick.html.twig #}
{% extends "p6CoreBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - {{trick.name}}{% endblock %}

{% block body %}

<section class="sectionTrick">
  <div class="boxTrick">
    {% if not trick.images.empty %}
    {% for image in trick.images | slice(0,1) %}
    <img class="imgTrick" src="{{ asset(''|default('images/upload/'~image.url))}}" alt="{{trick.name}}"/>

    {% if is_granted('ROLE_USER') %}
    <div class="row frameTrickEdit">
      <div class=" col-xs-3 col-xs-offset-8 frameModif">
        <div class="row">
          <div class="col-xs-6">
            <span class="editTrigger" data-button-image-id="{{ image.id }}"><i class="fas fa-pen blue"></i></span>
          </div>
          <div class="col-xs-6">
            <span class="deleteTrigger" data-button-image-id="{{ image.id }}"><i class="far fa-trash-alt red"></i></span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 hidden editButton backgroundFirstImage" id="editButtonImage{{ image.id }}">
        <form action="{{ path('updateImage', {"idtrick": trick.id, "id": image.id }) }}" method="post">
          <input type="hidden" name="token" value="{{ csrf_token('update-item') }}" />
          <input type="file" name="newImage"><input type="submit" value="Modifier">
        </form>
      </div>

      <div class="col-xs-12 hidden deleteButton backgroundFirstImage" id="deleteButtonImage{{ image.id }}">
        <form action="{{ path('deleteImage', {"idtrick": trick.id, "id": image.id }) }}" method="post">
          <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
          <input type="submit" value="Supprimer" class="btn btn-danger" />
        </form>
      </div>

    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <img class="imgTrick" src="{{ asset('images/upload/default.jpg')}}" alt="{{trick.name}}"/>
    {% endif %}
    <div class="frameTrick trickTitle indie">
      <p class="nameTrick">{{ trick.name }}</p>
    </div>

  </div>
</section>

{% for message in app.flashes('success') %}
<div class="flash-notice alert alert-success">
  {{ message }}
</div>
{% endfor %}
{% for message in app.flashes('danger') %}
<div class="flash-notice alert alert-danger">
  {{ message }}
</div>
{% endfor %}

<section class="container boutonMedia">
  <button class="buttonTrick btn-custom">Afficher / Cacher les médias</button>
</section>

<section id="mediaTrickHide" class="mediaTrickHide">
  <div class="container">
    <div class="row">
      {% if not trick.images.empty %}
      {% for image in trick.images [1:] %}
      <div class="mediaFrame col-sm-2 merribold">
        <img src="{{ asset('images/upload/'~image.url)}}" alt="{{trick.name}}"/>
        {% if is_granted('ROLE_USER') %}
        <div class="row decal">
          <div class="col-xs-4 col-xs-offset-7 frameModif">
            <div class="row">
              <div class="col-xs-6">
                <span class="editTrigger" data-button-image-id="{{ image.id }}"><i class="fas fa-pen blue"></i></span>
              </div>
              <div class="col-xs-6">
                <span class="deleteTrigger" data-button-image-id="{{ image.id }}"><i class="far fa-trash-alt red"></i></span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 hidden editButton" id="editButtonImage{{ image.id }}">
            <form action="{{ path('updateImage', {"idtrick": trick.id, "id": image.id }) }}" method="post">
              <input type="hidden" name="token" value="{{ csrf_token('update-item') }}" />
              <input type="file" name="newImage"><input type="submit" value="Modifier">
            </form>
          </div>

          <div class="col-xs-12 hidden deleteButton" id="deleteButtonImage{{ image.id }}">
            <form action="{{ path('deleteImage', {"idtrick": trick.id, "id": image.id }) }}" method="post">
              <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
              <input type="submit" value="Supprimer" class="btn btn-danger" />
            </form>
          </div>

        </div>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}

      {% if not trick.videos.empty %}
      {% for video in trick.videos %}
      <div class="mediaFrame col-sm-2 merribold">
        {{ video.link | raw }}
        {% if is_granted('ROLE_USER') %}
        <div class="row decal">
          <div class="col-xs-4 col-xs-offset-7">
            <div class="row frameModif">

              <div class="col-xs-6">
                <span class="editTrigger" data-button-video-id="{{ video.id }}"><i class="fas fa-pen blue"></i></span>
              </div>
              <div class="col-xs-6">
                <span class="deleteTrigger" data-button-video-id="{{ video.id }}"><i class="far fa-trash-alt red"></i></span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 hidden editButton" id="editButtonVideo{{ video.id }}">
            <form action="{{ path('updateVideo', {"idtrick": trick.id, "id": video.id }) }}" method="post">
              <input type="hidden" name="token" value="{{ csrf_token('update-item') }}" />
              <input type="text" name="newLink" value="{{video.link}}">
              <input type="submit" value="Modifier">
            </form>
          </div>

          <div class="col-xs-12 hidden deleteButton" id="deleteButtonVideo{{ video.id }}">
            <form action="{{ path('deleteVideo', {"idtrick": trick.id, "id": video.id }) }}" method="post">
              <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" />
              <button type="submit" class="btn btn-danger">Supprimer</button>
            </form>
          </div>

        </div>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <p class="trickContent merribold">{{ trick.description }}</p>
  </div>
  <div class="row">
    <p class="col-xs-4 merribold">Catégorie : {{ trick.category.name }}</p>
    <p class="col-xs-4 merribold">Ajouté le : {{ trick.creaDate | date('d/m/Y') }}</p>
    {% if trick.editDate is not null %}
    <p class="col-xs-4 merribold">Edité le : {{ trick.editDate | date('d/m/Y') }}</p>
    <br />
    {% endif %}
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 separator">
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="col-xs-6 col-xs-offset-3">
      <form id="commentForm" method="post" action="{{ path('addComment', {"id": trick.id }) }}">
        <input type="hidden" name="token" value="{{ csrf_token('post-item') }}" />
        <div class="row comment-row">
          <input type="text" name="content" class="commentInput col-xs-12 col-sm-9">
          <button type="submit" class="btn btn-custom-comment col-xs-12 col-sm-3">Envoyer</button>
        </div>
      </form>
    </div>
    <div class="col-xs-10 col-xs-offset-1 separator">
    </div>
    {% endif %}
  </div>
</section>

<section class="container">

  {% for comment in comments %}
  <div class="row">
    <div class="col-xs-5-offset-1 col-sm-2 col-sm-offset-1 user-frame">
      <div class="row">
      <strong class="col-xs-6 col-sm-12">{{comment.user.username}}</strong>
      <img src="{{ asset('images/upload/avatar.jpg')}}" alt="{{comment.user.username}}" class="col-xs-6 avatar-mobile"/>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 comment-frame comment-frame-mobile">
      <p><strong>le {{ comment.datetime | date('d/m/Y') }}</strong></p>
       <p>{{ comment.content }} </p>
    </div>
  </div>
  {% endfor %}
  <div class="col-xs-offset-5 col-xs-2-offset-5">
    <div class="merribold btn btn-default button-show-more"><a href="{{ path('showMoreComment', {"id": trick.id }) }}">Voir Plus</a></div>
  </div>

</section>




{% endblock %}
